/********************************************
			Global		 			 	    *
*********************************************/
/***************************
		Base		       * 
****************************/
* 				{margin:0; padding:0; outline: none;}
/*body, html		{height: 100%;}*/
body			{color: #7E7E7E; font-size: 11px; background: #ffffff; font-family: "Georgia", "Times New Roman", "Serif";}
.clear			{min-height: 1px;}
.clear:after	{content: " "; display: block; height: 0; font-size: 0;	clear: both; visibility: hidden;}
/* *html .clear	{height: 1px;} */
img				{border: none;}
ul,ol 			{list-style:none;}
h1				{font-family: "Trade Gothic"; font-size: 21px; font-weight: lighter; color: #716154;}
h2				{font-size: 16px; margin: 5px 0; color: #716154;}
/*div				{border: 1px dashed black;}*/
#wrapper		{position: relative; width: 946px; margin: 13px auto 13px auto; border:8px solid #D7D0C6;}
/* forms */


/***************************
		Header		       * 
****************************/
/********* Nav ***********/
#nav-logo				{margin-left: 58px; margin-top: 20px;}
#nav-top-piece			{position: absolute; top: -21px; left: 45px;}

/* Background Image for the Header */
#header.home			{width: 946px; height: 251px; background-image: url('images/header_home.jpg');}
#header.services		{width: 946px; height: 251px; background-image: url('images/header_services.jpg');}
#header.pricing			{width: 946px; height: 251px; background-image: url('images/header_pricing.jpg');}
#header.clients			{width: 946px; height: 251px; background-image: url('images/header_clients.jpg');}
#header.aboutus			{width: 946px; height: 251px; background-image: url('images/header_about.jpg');}
#header.contact			{width: 946px; height: 251px; background-image: url('images/header_contact.jpg');}
#header.sitemap			{width: 946px; height: 251px; background-image: url('images/header_home.jpg');}
#header.termsofuse		{width: 946px; height: 251px; background-image: url('images/header_home.jpg');}
#header.privacy			{width: 946px; height: 251px; background-image: url('images/header_home.jpg');}
#header ul				{position: absolute; top: 105px; left: 80px; text-align: center; font-family: Arial; font-weight: bold; font-size: 11px; letter-spacing: 2px;}
#header li				{padding: 3px 0px;}
#header li a			{color: #C5C5C7; text-decoration: none;}
#header li a#selected	{color: #FFFFFF; text-decoration: none; border-bottom: 2px solid #78797B;}
#header li a:hover		{color: #FFFFFF; text-decoration: none; border-bottom: 2px solid #78797B;}

/***************************
		Content		       * 
****************************/
#content				{position: relative; min-height: 300px;}

/**** Full Size Column ****/
#main-column1			{float: left; width: 475px; padding: 0px; margin-left: 40px; line-height: 20px;}
#main-column2			{float: right; width: auto; padding: 0px; margin-right: 40px;}
.block					{margin: 0px;}
.block p				{font-size: 11px;}
#content p				{margin: 10px 0px 0px 0px;}
#content ul				{margin-top:10px;}
#content ul li			{line-height: 20px;}

/**** Left ****/
#left-bottom.block		{padding-bottom: 40px; width: auto;}
.dashed-block			{padding: 10px 0px; margin-top: 20px; margin-bottom: 20px; border-top: 1.5px dashed black; border-bottom: 1.5px dashed black;}
.dashed-block h1		{padding-top: 10px; padding-bottom: 0px;}
.dashed-block p			{font-size: 14px;  line-height: 23px; padding-bottom: 0px;}

/**** Right ****/

/*Specific to certain pages
(for the most part)*/

.block#top				{margin-bottom: 100px; margin-top: 50px;}
.block#bottom			{margin-top: 100px;}
.block#bottom h2		{color: #969799; font-size: 14px;}

/*Home*/

/*Services*/
.block#bottom-services	{}

/*Pricing*/
.block#bottom-pricing	{margin-bottom: 200px;}
.block#bottom-pricing p	{font-size: 14px; margin-top: 20px;}
.block#bottom-pricing a	{color: #729EBB;}

/*Clients*/
.block#bottom-clients	{}

/*About Us*/
.block#bottom-aboutus	{}

/*Contact*/
.block#contact			{}


#see-block				{color: #729EBB; font-size: 9px; text-align: right;}
#see-block a			{text-decoration: none; color: #729EBB;}
#images-block-workedwith 
img						{margin: 12px;}
#blue-title				{float: left; margin-left: 20px; margin-top: 10px; margin-right:30px; font-style: italic; font-size: 18px;}
#blue-title a			{text-decoration: none; color: #729EBB;}
#blue-title-image		{margin-top: auto; margin-bottom: auto;}
#blue-title.block		{vertical-align: middle;}
#blue-inline-title		{color: #729EBB;}

/**** Half-Size Column ****/
.sub-column1			{position: relative; float: left; width: 215px;  padding: 10px 0px;}
.sub-column2			{position: relative; float: right; width: 235px; padding: 10px 0px;}



/***************************
		Footer		       * 
****************************/
#footer				{position: relative; clear: both; width: 100%;}
#footer ul			{margin: 10px auto; width: 50%;}
#footer li			{display: inline; padding: 10px; padding-top: 5px; padding-bottom: 5px; border-right: 1px solid #D3D9C9;}
#footer li.last		{border-right: none;}
#footer li a		{color: #68696B; text-decoration: none;}
#footer li a:hover	{color: #68696B; text-decoration: underline;}