body{font-family:Georgia;}
h1{}
h2{}
div#main{
	position:relative;
	margin:5px;
	margin-left:auto;
	margin-right:auto;
	width:946px;
	border:8px solid #D3D9C9;
}
div#header{
	position:relative;
	margin:0px;
}
div#center{
	margin:10px;
	min-height:500px;
	border:1px solid black;
}
div#footer{
	margin:10px;
	/*border:1px solid black;*/
	font-size:75%;
	text-align:center;
}
div.footerwrap{
	display:inline;
	list-style:none;
}
ul#footerlist{display:inline;list-style:none;}
li.footerlistitem-last{display:inline;list-style:none;}
li.footerlistitem{display:inline;list-style:none;border-right:1px solid #D3D9C9;}
a.footerlink{margin:10px;color:#D3D9C9;text-decoration:none;}
